<!DOCTYPE html>
<html>
  <head>
    <title>Pow Apps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body ontouchstart="">
    <ul>
      <% @apps.each do |app| %>
        <li><a href="http://<%= app %>.<%= @domain %>"><%= app %></a></li>
      <% end %>
    </ul>
    <script>
      window.addEventListener('load', function() {
       setTimeout(function() {
        window.scrollTo(0, 0);
        }, 0);
      });
    </script>
  </body>
</html>
