body {
  margin: 0;
  background: #eee;
  text-align: center;
  font-weight: 300;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0 auto;
  width: 400px;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
  background: #fff;
  list-style: none;
}

li a {
  display: block;
  padding: 10px 0 9px 15px;
  border-bottom: 1px solid #eee;
  background: #fff;
  color: #000;
  text-decoration: none;
  font: -apple-system-body;
  font-size: 18px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

li a.dead {
  color: #ccc;
}

li a:hover, li a.dead:hover, li a:active, li a:focus {
  outline: none;
  background: #ddd;
}

.favicon {
  position: relative;
  top: 2px;
  margin-right: 8px;
  border: none;
}

.version {
  margin: 8px;
  color: #aaa;
  text-align: right;
  font-size: 12px;
}

.version a {
  border-bottom: 2px solid #888;
  color: #888;
  text-decoration: none;
}

.version a:hover {
  border-bottom: 2px solid #000;
  color: #000;
}

/* Phones, landscape and portrait */

@media (max-width: 568px) {
  body {
    background: #fff;
  }

  li a:hover {
    background: #fff;
    color: #000;
  }

  .container {
    width: 100%;
  }

  .container.slide {
    -webkit-animation-name: slide;
    animation-name: slide;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  @-webkit-keyframes slide {
    from {
      -webkit-transform: translateY(0);
    }

    to {
      display: none;
      -webkit-transform: translateY(2000px);
    }
  }

  @keyframes slide {
    from {
      transform: translateY(0);
    }

    to {
      display: none;
      transform: translateY(2000px);
    }
  }
}
