body {
  margin: 0;
  padding: 10px;
  background: #e0e0d8;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  width: 400px;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 7px #999;
     -moz-box-shadow: 0px 2px 7px #999;
          box-shadow: 0px 2px 7px #999;
  list-style: none;
}

li:first-child a {
  -webkit-border-top-right-radius: 6px;
     -moz-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
     -moz-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
}
li:last-child a {
  border-bottom: 0;
  -webkit-border-bottom-right-radius: 6px;
     -moz-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
     -moz-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
}

li a {
  display: block;
  padding: 8px 10px;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  -webkit-tap-highlight-color: #776;
}

li a.dead {
  color: #999;
}

li a:hover, li a.dead:hover, li a:active {
  background: #776;
  color: #fff;
}

.version {
  margin: 8px 8px 0;
  color: #666;
  text-align: right;
  font-size: 12px;
  text-shadow: 0 1px 0 #fff;
}

.version a {
  border-bottom: 2px solid #d2d2ca;
  color: #999;
  text-decoration: none;
}

.version a:hover {
  border-bottom: 2px solid #c56342;
  color: #000;
}

/* Phones, landscape and portrait */

@media (max-width: 568px) {
  .container {
    width: 100%;
  }
  li a {
    font-size: 12px;
  }
  li a:hover {
    background: #fff;
    color: #000;
  }
}

/* Portrait phones */

@media (max-width: 340px) {
  li a {
    font-size: 19px;
  }
}
